<!DOCTYPE html>
<html lang="en" ng-app="newModule">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body ng-controller="newController">
    <input type="text" ng-model="number1" />
    <input type="text" ng-model="number2" />
    <button ng-click="sum()">hihi</button>
    {{total}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./index1.js"></script>
  </body>
</html>
